[submodule "_includes/shared-includes"]
	path = _includes/shared-includes
	url = git@github.com:sarahendren/shared-includes.git
[submodule "_sass/shared-styles"]
	path = _sass/shared-styles
	url = git@github.com:sarahendren/shared-styles.git
