---
title: adaptation + ability group @ Olin College
gems:
  - jekyll-redirect-from
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  courses:
    title: courses
    output: true
  projects:
    title: projects
    output: true
  reports:
    title: reports
    output: true
  uploads:
    title: uploads
    output: true
defaults:
- scope:
    path: ''
  values:
    layout: page
- scope:
    path: ''
    type: courses
  values:
    parent: "/courses/"
    image: http://placehold.it/400x300
    image-caption: IMAGE CAPTION
    date-display: DISPLAY DATE
    subtitle: SUBTITLE
    layout: course
- scope:
    path: ''
    type: projects
  values:
    parent: "/projects/"
    image: http://placehold.it/400x300
    image-caption: IMAGE CAPTION
    date-display: DISPLAY DATE
    subtitle: SUBTITLE
    layout: project
- scope:
    path: ''
    type: reports
  values:
    parent: "/reports/"
    image: http://placehold.it/400x300
    image-caption: IMAGE CAPTION
    date-display: DISPLAY DATE
    subtitle: SUBTITLE
    author: AUTHOR
imgix: http://aplusa.imgix.net
permalink: pretty
exclude:
- node_modules
- gulpfile.js
