---
title: Adaptation + Ability Group
timezone: UTC
collections:
  courses:
    title: Courses
    output: true
  posts:
    title: Posts
    output: true
  projects:
    title: Projects
    output: true
  reports:
    title: Reports
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
  values:
    layout: page
- scope:
    path: ''
    type: courses
  values:
    parent: "/courses/"
    image: http://placehold.it/400x300
    image-caption: IMAGE CAPTION
    date-display: DISPLAY DATE
    subtitle: SUBTITLE
    layout: course
- scope:
    path: ''
    type: projects
  values:
    parent: "/projects/"
    image: http://placehold.it/400x300
    image-caption: IMAGE CAPTION
    date-display: DISPLAY DATE
    subtitle: SUBTITLE
    layout: project
- scope:
    path: ''
    type: reports
  values:
    parent: "/reports/"
    image: http://placehold.it/400x300
    image-caption: IMAGE CAPTION
    date-display: DISPLAY DATE
    subtitle: SUBTITLE
    author: AUTHOR
imgix: http://aplusa.imgix.net
permalink: pretty
