---
title: Adaptation + Ability Group
url: http://adaptationabilitygroup.siteleaf.net
timezone: UTC
collections:
  courses:
    title: Courses
    output: true
  posts:
    title: Posts
    output: true
  reports:
    title: Reports
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: post
    permalink: "/posts/:title/"
- scope:
    path: ''
    type: pages
  values:
    layout: page
permalink: pretty
