@import "shared-styles/atoms/colors/default";

$black:           #000;
$gray--dark:      #333;
$gray:            #888;
$gray--light:     #ccc;
$gray--lightest:  #eee;
$white:           #fff;
$brown:           #000;
$green:           #0f0;
$yellow:          #ff0;
$red:             #f00;
$brown:           #655643;
