.nav--primary .nav__list, .body--subpage .main {
  border: 1px solid $accent;
}

.nav--primary .nav__list {
  border-bottom: 0;
}

.body--subpage .nav--primary .nav__list {
  background: $background;
}
