$primary:    $black;
$secondary:  $gray;
$link:       $blue;
$accent:     $black;
$background: $white;

body {
  background-image: url("/uploads/aplusa-3.jpg") !important;
  background-repeat: no-repeat!important;
  background-size: contain!important;
  background-position: -50px;
}

footer {
  background: #ff0 url("/uploads/grid-warp.png");
  background-size: cover;
}
