---
layout: default
---

<main class="main">
  <div class="content">
    {% include shared-includes/lead.html %}
    <section>
      {% include shared-includes/subhead.html %}
    </section>
    <section class="section--threequarter">
      <h2>People</h2>
      <div class="cards cards--three">
  			{% for item in page.people %}
  				{% include person.html %}
  			{% endfor %}
  		</div>
    </section>
    <hr>
    <section class="section--threequarter">
      {{ content | markdownify }}
    </section>
  </div>
</main>
